<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{client.list}">Userlist</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <h2 th:text="#{client.list}">List of Clients</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th th:text="#{client.clientid}">Client-Id</th>
            <th th:text="#{client.confidential}">Confidential</th>
            <th th:text="#{client.granttypes}">Supported Grants</th>
            <th th:text="#{client.accesstokenformat}">Accesstoken Format</th>
            <th th:text="#{client.redirecturis}">Redirect-Uris</th>
            <th th:text="#{client.corsuris}">CORS-Uris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${allClients}">
            <td th:text="${client.clientId}"></td>
            <td th:text="${client.confidential}"></td>
            <td th:text="${client.grantTypes}"></td>
            <td th:text="${client.accessTokenFormat}"></td>
            <td th:text="${client.redirectUris}"></td>
            <td th:text="${client.corsUris}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

