<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Consent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
<h1>Consent</h1>
<p>An OAuth 2.0 client is requesting your permission</p>

<ul th:each="scope: ${scopes}">
    <li th:text="${scope}">Scope</li>
</ul>

<form action="#" th:action="@{'/approve?scope=' + ${scope} + '&client_id=' + ${client_id}}" th:object="${user}" method="post">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="approve">
        <label class="form-check-label" for="inlineRadio1">Approve</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="decline">
        <label class="form-check-label" for="inlineRadio2">Decline</label>
    </div>
    <div class="form-check">
      <input type="submit" class="btn btn-primary" value="Continue">
    </div>
</form>
</div>
</body>
</html>